<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ba8e7568-3e65-4ffe-a338-cbe0facba7ab" Publisher="CN=zhonglei" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Tide</DisplayName>
    <PublisherDisplayName>zhonglei</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Tide</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Tide.App">
      <VisualElements DisplayName="Tide" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Tide" ForegroundText="light" BackgroundColor="#99d9ea">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>